<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <a asp-action="GetAllCategories" asp-controller="home" class="btn btn-primary">GetAllCategories</a><br />
    <a asp-action="GetAllRecipes" asp-controller="home" class="btn btn-primary">GetAllRecipes</a><br />
    <a asp-action="AddRecipe" asp-controller="home" class="btn btn-primary">AddRecipe</a>


</body>
</html>